<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="no.tipps.tipps">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
            android:allowBackup="true"
            android:icon="@drawable/vippslogoicon"
            android:label="@string/app_name"
            android:largeHeap="true"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".LoginActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".Vipps"
                android:label="@string/title_activity_vipps"
                android:screenOrientation="portrait"
                android:launchMode="singleInstance"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".PaymentActivity"
                android:label="@string/title_activity_payment"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".ConfirmActivity"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="tipps"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".TippsActivity"
                android:screenOrientation="portrait"
                android:label="@string/title_activity_tipps"
                android:theme="@style/AppTheme.NoActionBar"
                android:parentActivityName=".Vipps">
        </activity>
    </application>

</manifest>
